@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family:Open Sans, Arial, sans-serif;
}

/*typography*/
h2, h3 {
  font-weight:bold;
  letter-spacing:-0.02em;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  height:100px;
  padding-top:15px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  min-height:180px;
  text-align: center;
}

/*both*/

.header, .footer{
  background-color:#00a2c9;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 100%; /*730px;*/
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
   /* margin-bottom: 30px;*/
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*End of initial template files */


.full-container{
  width:100%;
}

.view{
  width:calc(100% - 351px);
}

@media (max-width: 992px) {
 .view{
  width:calc(100% );
  }
}

.view form{
  margin-top:20px;
}

.view form input, .view form select{
  height:45px;
}

.view .simple-page{
  min-height:700px;
}

/*header search*/
.header-search{
  height:40px;
  width:800px;
  margin: 15px auto 0 auto;
  padding:0;

  /*overflow:hidden;*/
  text-align: center;

}

.header-search .autocomplete {
  box-shadow:none;
  height:40px;
  width:310px;
  border-radius:0;
  border:none;
  padding-left:10px;
}

.header-search input[type=submit]{
  width:135px;
  height:40px;
  background-color:#0d8c85;
  border:none;
  color:#ffffff;
  padding:0;
}

.search-button{
  background-color:#40cd08;
  color:#111111;
  border:none;
  height: 40px;
  border-radius:5px;
  margin-left:40px;
  font-weight:bold;
  width:150px;
  padding-top:9px;
  text-align:center;

}

.search-button:hover{
  background-color:#39b607;
  text-decoration: none;
}

.angucomplete-dropdown {
  top:48px;
  width:310px;
  }

.header-user-image{
  height:42px;
  width:42px;
  border-radius:32px;
  margin-right:12px;
  margin-top:-6px;
}

.header-user{
  width:240px; 
  margin-top:-34px;
  font-weight:bold;
  line-height:16px;
  font-size:16px;
  position:relative;
}

.header-coins{
  font-size:14px;
  color:#555555;
}

.header-user .badge{
  position:absolute;
  top:-9px;
  left:28px;
  background-color:#ffc006;
  color:#000;
  cursor:pointer;
}

.xnav{
  height:30px;
  background-color:#12566d;
  color:#fff;
  padding:4px 30px;
}

.xnav a{
  color:#fff;
  margin-right:30px;
}

/*activity feed*/

.feed{
  width:336px;
  font-size:14px;
  line-height:18px;
}

.feed p {
  margin:0;
  padding:0;
}

.feed-item{
  padding:13px 16px;
  border-bottom:1px solid #dedede;
}

.feed-item .icon, .feed-item .main-text{
  /*display:inline-block;*/
}

.feed-item .feed-message{
   margin-top:12px; 
   font-size:13px; 
   font-style:italic;
}


.feed-icon{
  width:60px;
  height:60px;
  border-radius:4px;
  float:left;
  margin:0 22px 8px 0;
}

/*main background*/
.main-background{
  width:100%;
  background: url(../images/castle_large.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel{
  padding-top:18px;
  padding-bottom:18px;
  background-color:rgba(255,255,255,.8);
  margin-top:30px;
}

.panel input{
  margin-bottom:20px;
}

.panel input, .panel{
  border:none;
}

.panel-title{
  font-weight:bold;
  font-size:20px;
}

.panel-title, .panel i{
  color:#7b5c3d;
}

/*user profiles*/

.profile-left{
  background-color:#a19998;
  background-image:url(../images/bricks_bg.png);
  text-align:center;
  color:#f1f0f0;
  font-size:18px;
}

.profile-left h1{
  font-size:36px;
  font-weight:bold;
  color:#ffffff;
  margin:0 0 5px 0;
  padding:0;
}

.profile-left h4{
  font-size:24px;
  font-weight:normal;
  margin:0;
  padding:0;
}

.profile-left-pic{
  width:225px;
  height:225px;
  border-radius:120px;
  margin: 18px 0 35px 0;
}

.profile-job-title{
  margin:34px 0 4px 0;
  line-height:22px;
}
.profile-stats{
  color:#4d4d4d;
  min-height:700px;
  background: url(../images/profile_bg.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.profile-stats-top{
  font-size:80px;
  font-weight:bold;
  border-bottom:1px solid #b3b3b3;
  height:100px;
  overflow:hidden;
}

.profile-stats-middle{
  font-size:68px;
  font-weight:bold;
  border-bottom:1px solid #b3b3b3;
  height:92px;
  overflow:hidden;
}

.profile svg{
  margin-top:-24px;
}

.profile-stats-middle svg{
  margin-top:-32px;
}


.profile-chart-container{
  margin-right:-70px;
}

.profile-score{
  font-size:46px;
  line-height:28px;
  padding-top:10px;
}

.profile-stats-middle .profile-score{
  padding-top:1px;
}

.profile-score .sm-text{
  font-size:14px;
  font-weight:normal;
  color:#929292;
}

.profile .text-20{
  font-size:20px;
  display:inline-block;
  line-height:20px;
  font-weight:bold;
}

.profile-stats .row{
  margin:0;
}

.profile hr{
   display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #999;
    margin: 1em 0;
    padding: 0; 
}

/*flags*/

.flag{
  height:172px;
  width:113px;
  background-image:url(../images/flags/pole.png);
  background-repeat:no-repeat;
  overflow: hidden;
}

.flag-flag{
  width:109px;
  height:70px;
  margin-left:4px;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

/*scoreboard*/

.scoreboard-top{
  height:184px;
  padding:15px;
  position:relative;
}

.scoreboard-middle{
  height:164px;
  padding:14px;
  width:98%;
}

.scoreboard-bottom div{
  height:154px;
  width:49%;
  padding:14px;
}

.sign-end{
  position:absolute;
  top:0;
  right:0;
}

.scoreboard-bottom {
  background-image:url(../images/scoreboard-bottom_bg.png);
  background-repeat: repeat-x;
  background-size: auto 100%;
  width:98%;
}
.scoreboard-bottom div:nth-child(even){
  margin-left:2%;
}

.scoreboard-top,.scoreboard-middle, .scoreboard-bottom div{
  color:#fff;
    background-color:#b18864;
    background-image:url(../images/wood_bg.png);
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    margin-bottom:24px;
    border-radius:5px;
}

.scoreboard-top img:not(.sign-end),.scoreboard-middle img, .scoreboard-bottom div img{
  border-radius:100px;
  height:100%;
  width:auto;
  display:inline-block;
  margin-right:25px;
    -moz-box-shadow:    2px 2px 0 6px rgba(82, 65, 48, .4);
  -webkit-box-shadow: 2px 2px 0 2px rgba(82, 65, 48, .4);
  box-shadow:         2px 2px 0 2px rgba(82, 65, 48, .4);
  }

.scoreboard-bottom div img{
  height:100px;
}
.scoreboard-sign{
  background-image:url(../images/pole_bg.jpg);
  background-repeat: repeat-y;
  padding:20px 0 0 52px;

}

.scoreboard-sign h2{
  margin:0 0 10px 0;
  padding:0;
  font-size:22px;
}

.scoreboard-sign h3{
  margin:0 0 8px 0;
  padding:0;
  font-size:17px;
}

.scoreboard, .sendcard, .gallery{
  background: url(../images/profile_bg.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mainpage{
  background: url(../images/castle_large2.jpg) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*homepage/login*/

.homepage{
  min-height:640px;
}

/*card modal*/
 @media (min-width: 768px){
.card-modal .modal-dialog {
    width: 750px;
    margin: 130px auto;
  }
}

.card-modal .modal-content{
  background:#958d8c;
}

.card-modal-card{
  width:290px;
  height:430px;
  background-color:#104d61;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:url(../images/white-shade.png);
  background-position: 48.5% top;
  border-radius: 10px;
  display:inline-block;
  vertical-align: top;
  padding:14px;
}

.card-modal-card .timestamp{
  color:#ffffff;
  width:100%;
  text-align: center;
  margin-top:-1px;
}

.card-modal-message{
  height:284px;
  width:408px;
  background-color:#ebebeb;
  border-radius: 6px;
  display:inline-block;
  vertical-align: top;
  margin-left:15px;
  position:relative;
  padding:12px;
}

.card-modal-message-body{
  font-size:17px;
  line-height:22px;
}

.card-modal-message-tip{
  width:84px;
  height:67px;
  position:absolute;
  left:-74px;
  top:238px;  
  background-image:url(../images/speech_bubble_tail.png);
}

.card-modal-signature{
  margin:15px 0 0 235px;
}

/*inner card*/

.card-title, .card-type{
  height:31px;
  margin-bottom:7px;
  background-color:#1e86a7;
  border-radius:4px;
  color:#fff;
  font-weight:bold;
  font-size:20px;
  padding:0 6px;
}

.card-type{
  margin-bottom:11px;
  font-weight:normal;
  font-size:15px;
  padding-top:4px;
}

.card-image{
  height:182px;
  margin-bottom:7px;
  background:#12282f;
  border-radius:4px;
  position:relative;
}

.card-image img{
  position:absolute;
  left:-15px;
  top:-58px;
}

.card-info{
  height:55px;
  border-radius:55px;
  background-color:rgba(210,210,210,.3);
  margin-bottom:7px;
  font-size:14px;
  font-weight:bold;
  color:#ffffff;
}

.card-info img{
  height:49px;
  width:49px;
  border-radius:55px;
  margin:3px 6px 3px 3px;
}

.card-info h4{
  font-weight:bold;
  letter-spacing:-.01em;
  margin:0;
  padding:0;
  font-size:15px;
}

.card-info .card-label{
  margin-bottom:-1px;
  padding-top:4px;
  color:#444444;
}

.core1 .card-info{
  color:#333333;
}

/*dynamic card styles*/

.core1 .card-modal-card, .core1 .gallery-card{
  background-color:#f4f4f4;
  }
.core1 .card-title, .core1 .card-type, .core1 .gallery-card-title{
    background-color:#cecece;
  }
.core1 .card-image, .core1 .gallery-img-bg{
  background-color:#555555;
}
.core2 .card-modal-card, .core2 .gallery-card{
  background-color:#28788f;
}
.core2 .card-title, .core2 .card-type, .core2 .gallery-card-title{
  background-color:#1e86a7
}
.core2 .card-image, .core2 .gallery-img-bg{
  background-color:#12282f;
}
.core3 .card-modal-card, .core3 .gallery-card{
  background-color:#252525;
}
.core3 .card-title, .core3 .card-type, .core3 .gallery-card-title{
  background-color:#414141;
}
.core3 .card-image, .core3 .gallery-img-bg{
  background-color: #313131;
}
.core4 .card-modal-card, .core4 .gallery-card{
  background-color:#a2000f;
}
.core4 .card-title, .core4 .card-type, .core4 .gallery-card-title{
  background-color:#951f28;
}
.core4 .card-image, .core4 .gallery-img-bg{
  background-color:#40070b;
}
.core5 .card-modal-card, .core5 .gallery-card{
  background-color:#77a30a;
}
.core5 .card-title, .core5 .card-type, .core5 .gallery-card-title{
  background-color:#99c42d;
}
.core5 .card-image, .core5 .gallery-img-bg{
  background-color:#3f4f18;
}

/*gallery*/

.gallery{

}
.gallery-body{
  margin-top:25px;
}

.gallery-cell{
  text-align:center;
  margin-bottom:25px;
}

.gallery-card{
  width:120px;
  height:179px;
  border-radius:5px;
  background-color:#fff;
  margin:0 auto;
  padding:5px;
  position:relative;
}

.gallery-card img{
  width:100px;
  height:auto;
  position:absolute;
  left:10px;
  top:10px;

}

.gallery-img-bg{
  height:78px;
}

.gallery-card-title{
  height:14px;
  color:#ffffff;
  font-size:8px;
  font-weight:bold;
  text-align:left;
}

.gallery .bottom-text{
  line-height:12px;
  font-weight:bold;
  letter-spacing:-.01em;
}

.gallery .coins{
  color:#ffffff;
  font-weight:bold;
  font-size:12px;
  letter-spacing:-.01em;
}

.gallery-card-message{
  background-color:rgba(220,220,220,.3);
  height:46px;
  padding:4px;
  font-size:9px;
  font-weight:normal;
  font-style:italic;
}

/*'global' styles*/

.section-title{
  background-color:#0d8c85;
  padding:12px;
  color:#fff;
}

.section-title h3{
  margin:0;
  padding:0;
}

.page-title{
  margin:20px 0;
}

.iconsize{
  height:50px;
  width:50px;
  border-radius:5px;
}

button{
  min-width:160px;
}

.content{
  min-height:700px;
}

.small-text{
  font-size:9px;
  font-weight:normal;
}

.standard-pad{
  padding:18px;
}

.fade-in-load{

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.nvd3.nv-pie path {
    stroke: #fff;
    stroke-width: 0;
    stroke-opacity: 1;
}

.nv-legendWrap{
  display:none;
}