<div class="main-background">
	<div class="row">
	<div class="panel panel-default col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 fade-in-load">

    <h2 class="panel-title">Enter Your Email and Invite Code to Register</h2>

  <div class="panel-body">
  	<div class="row"><div class="col-lg-8 col-lg-offset-2">
  	<i class="fa fa-user"></i> Email <input type="text" class="form-control" id="username">
  	<i class="fa fa-lock"></i> Invite Code <input type="text" class="form-control" id="invite">
  	<i class="fa fa-lock"></i> Desired Password <input type="password" class="form-control" id="pw">
  	<i class="fa fa-lock"></i> Repeat Password <input type="password" class="form-control" id="pw">
  	<button type="submit" class="btn btn-primary pull-right">Submit</button>
  </div></div>
  </div>
</div>
  </div>
</div>